@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

#bg-home{
    background:url('../img/bg-home.jpg') -25px -50px;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    z-index:0;
    min-height: 100%;
    background-size: calc(100% + 50px);
    overflow-x: hidden;
    padding: 0;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 300;
}

.navbar-toggler{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    background: linear-gradient(to right, #4e1a27 0%, #7e1b3a 50%);
    font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #4e1a27;
    font-size: 1.5rem;
    transition: .3s ease-out;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-nav > .nav-item > .nav-link {
    padding: 1.5rem 1rem;
    padding-bottom: 0.5rem;
}

.logo{
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;

    img{
        height: 50vh;
        width: auto;
    }
}

.elem-container{
    height: calc(100% - 68px);
    width: 100%;
    margin-top: 4rem;
}

.elem-container a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
}

.perpective-text{
    padding: 20px 30px;
    margin-top: 10px;
    vertical-align: top;
    display: inline-block;
    transform: perspective(300px) rotateY(45deg);
    -webkit-transform: perspective(300px) rotateY(45deg);
    -moz-transform: perspective(300px) rotateY(45deg);
    -o-transform: perspective(300px) rotateY(45deg);
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.perpective-text:hover{
    transform: perspective(300px) rotateY(0);
    -webkit-transform: perspective(300px) rotateY(0);
    -moz-transform: perspective(300px) rotateY(0);
    -o-transform: perspective(300px) rotateY(0);
}

// figure

.figure1{
    margin-top: 1rem;

    img{
        animation: move-1 3s infinite ease-in-out;
        animation-delay: 0s;
    }
}

.figure2{
    margin-top: 1.8rem;

    img{
        animation: move-2 3s infinite ease-in-out;
        animation-delay: 0.3s;
    }
}

.figure3{
    margin-top: 6rem;

    img{
        animation: move-3 3s infinite ease-in-out;
        animation-delay: 0s;
    }
}

.figure4{
    margin-top: 15rem;

    img{
        animation: move-4 3s infinite ease-in-out;
        animation-delay: 0.3s;
    }
}

// animation

@keyframes move-1{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes move-2{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes move-3{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes move-4{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}